html, body {
  margin: 0;
  font-family: monospace;
  height: 100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 21);
  color: rgb(244, 243, 243);
  font-size: 1.2rem;
}


